# idea
.idea/
*.iml
*.ipr
*.iws

# build
build/
!_infra/build/

# terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# pulse
pulse/report.html

# python
__pycache__/
venv/
*.pyc

# mac
.DS_Store
