terraform {
  backend "s3" {
    bucket = "doordash-cluster-state"
    dynamodb_table = "doordash-cluster-state"
    key    = "resources/services/prod/_GITREPO_/service.tfstate"
    region = "us-west-2"
  }
}
